@model MvcLesson1.Models.Employee

@{
    ViewBag.Title = "Employee Details";
}
<div>

<h2>Employee Details</h2>
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.EmployeeId</td>
            <td>@Model.Name</td>
            <td>@Model.City</td>
        </tr>
    </tbody>
</table>
<br />
    @Html.ActionLink("Back to Employee List", "Index", new { deptID = @Model.departmentId })
</div>